Source: gr-osmosdr
Section: libdevel
Priority: optional
Maintainer: A. Maitland Bottoms <bottoms@debian.org>
Build-Depends: cmake,
               debhelper (>= 9.0.0~),
               doxygen,
               gnuradio-dev (>=3.7.8),
               gr-fcdproplus [!hurd-i386],
               gr-iqbal,
               libairspy-dev [!hurd-i386],
               libbladerf-dev (>=0.2014.09~rc2) [!hurd-i386],
               libboost-dev,
               libboost-system-dev,
               libboost-thread-dev,
               libhackrf-dev [!hurd-i386],
               liblog4cpp5-dev,
               libmirisdr-dev [!hurd-i386],
               libosmosdr-dev [!hurd-i386],
               librtlsdr-dev [!hurd-i386],
               libuhd-dev (>=3.9.0),
               pkg-config,
               python-dev,
               swig
X-Python-Version: >= 2.7, << 2.8
Standards-Version: 3.9.6
Homepage: http://sdr.osmocom.org/trac/wiki/rtl-sdr
Vcs-Git: git://anonscm.debian.org/users/bottoms/pkg-gr-osmosdr.git
Vcs-Browser: http://anonscm.debian.org/cgit/users/bottoms/pkg-gr-osmosdr.git/

Package: gr-osmosdr
Architecture: any
Pre-Depends: multiarch-support
Depends: ${misc:Depends}, ${python:Depends}, ${shlibs:Depends}
Recommends: gnuradio, gr-fosphor
Description: Gnuradio blocks from the OsmoSDR project
 The Osmocom project is a family of projects regarding Open source
 mobile communications.
 .
 While primarily being developed for the OsmoSDR hardware, this block
 as well supports:
  - FUNcube Dongle through libgnuradio-fcd
  - FUNcube Dongle Pro+ through gr-fcdproplus
  - sysmocom OsmoSDR Devices through libosmosdr
  - RTL2832U based DVB-T dongles through librtlsdr
  - RTL-TCP spectrum server (see librtlsdr project)
  - MSi2500 based DVB-T dongles through libmirisdr
  - gnuradio .cfile input through libgnuradio-blocks
  - RFSPACE SDR-IQ, SDR-IP, NetSDR (incl. X2 option)
  - Great Scott Gadgets HackRF through libhackrf
  - Nuand LLC bladeRF through libbladeRF library
  - Ettus USRP Devices through Ettus UHD library
  - Fairwaves UmTRX through Fairwaves' fork of UHD
 .
 By using the OsmoSDR block you can take advantage of a common
 software api in your application(s) independent of the underlying
 radio hardware.

Package: libgnuradio-osmosdr0.1.4
Section: libs
Architecture: any
Pre-Depends: multiarch-support, ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Multi-Arch: same
Description: Gnuradio blocks from the OsmoSDR project
 The Osmocom project is a family of projects regarding Open source
 mobile communications.
 .
 This package contains the shared library.
